.services {
  padding-bottom: 40px;
  background-color: #f2f1f1;
}
.wrapper_service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page_title {
  font-size: 40px !important;
  margin-bottom: 32px !important;
  font-family: initial !important;
  font-weight: inherit !important;
  text-align: center !important;
  display: block;
}

.single_service {
  width: 350px;
  text-align: center;
  margin: 20px 16px 0px 0px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  height: 250px;
}
.single_service i {
  color: orange;
  font-size: 35px;
  padding: 10px;
}
.single_service h3 {
  font-size: 25px;
  color: #726e69;
}
.single_service p {
  font-size: 16px;
  padding-top: 10px;
  color: #aba6a6;
}
@media (max-width: 1200px) {
  .wrapper_service {
    width: 100vw !important;
  }
}
